@use "mixin";

html {
  min-height: 100%;
}

.html--landing {
  overflow-x: clip;
  scroll-padding-top: 96px;

  body {
    display: flow-root;
    position: relative;
  }
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  @include mixin.page-background;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
