@use "mixin";

.hero-mosaic-viewport {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  max-width: 100dvw;
  margin-left: calc(50% - 50dvw);
  margin-top: 36px;
  min-height: 0;
  max-height: none;

  @include mixin.on-tablet {
    margin-top: 40px;
  }

  @include mixin.on-desktop {
    margin-top: -80px;
  }
}
