@use "mixin";

.container {
  margin-inline: auto;

  @include mixin.on-mobile {
    padding-inline: 20px;
  }

  @include mixin.on-tablet {
    padding-inline: 72px;
  }

  @include mixin.on-desktop {
    padding-inline: 120px;
  }
}
