@use "mixin";
@use "variables";

.header {
  @include mixin.on-desktop {
    padding: 50px 0 129px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;

    @include mixin.on-tablet {
      padding-top: 50px;
    }

    @include mixin.on-desktop {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      gap: 20px;
    }
  }

  &__logo {
    grid-column: 1;
    display: flex;
    align-items: center;

    &-link {
      display: flex;
      align-items: center;
    }

    &-image {
      height: 30px;
      width: 40px;
      transition: transform variables.$effect-duration;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__menu {
    flex-grow: 1;
    text-align: center;

    @include mixin.on-desktop {
      grid-column: 2;
    }
  }

  &__menu-wrapper {
    transform: translateX(-100%);
    transition: all variables.$effect-duration;
    display: block;
    z-index: 999;
    position: fixed;
    background-color: variables.$background-color;
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 100vh;
    left: 0;
    top: 0;

    &:target {
      transform: translateX(0);
    }

    @include mixin.on-desktop {
      transition: all 0s;
      transform: translateX(0);
      background-color: white;
      height: auto;
      width: auto;
      padding: 0;
      margin: 0;
      left: auto;
      top: auto;
      position: relative;
    }
  }

  &__menu-logo {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;

    @include mixin.on-tablet {
      padding: 50px 64px;
    }

    @include mixin.on-desktop {
      display: none;
    }
  }

  &__menu-logo-image {
    height: 30px;
    width: auto;
    object-fit: contain;
    filter: brightness(0) invert(1);
    transition: transform variables.$effect-duration;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__menu-list {
    display: block;
    text-align: start;
    padding-left: 25px;

    font-family: "Cinzel", sans-serif;
    font-weight: 700;
    line-height: 30px;
    list-style: none;

    @include mixin.on-tablet {
      padding-left: 64px;
    }

    @include mixin.on-desktop {
      color: variables.$main-color;
      font-size: 24px;
      display: flex;
      justify-content: center;
      text-align: center;
      gap: 50px;
      margin: 0;
      padding: 0;
    }
  }

  &__menu-link {
    font-size: 22px;
    line-height: 50px;
    color: variables.$color-text;
    text-decoration: none;
    position: relative;
    transition: color variables.$effect-duration ease;

    &::after {
      content: "";
      position: absolute;
      top: 30px;
      left: 0;
      width: 0;
      height: 2px;
      transition: width variables.$effect-duration ease;
    }

    &:hover {
      color: variables.$color-text;

      &::after {
        width: 100%;
        background-color: variables.$color-text;
      }
    }

    @include mixin.on-desktop {
      line-height: 22px;
      color: variables.$main-color;

      &:hover {
        color: variables.$hover-color;
      }
    }
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 40px;
    display: block;
    transition: transform variables.$effect-duration;

    @include mixin.on-tablet {
      top: 50px;
    }

    @include mixin.on-desktop {
      display: none;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &__close-btn {
    cursor: pointer;

    font-size: 50px;
    color: variables.$color-text;
    text-decoration: none;
  }

  &__burger {
    background-image: url("/src/icons/icon-burger-menu.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: 28px;
    cursor: pointer;
    display: flex;
    padding-left: 15px;
    text-decoration: none;

    @include mixin.on-desktop {
      display: none;
    }

    &:hover {
      background-image: url("/src/icons/icon-burger-menu-hover.svg");
      transform: scale(1.2);
    }
  }

  &__burger-icon {
    width: 23px;
    height: 28px;

    @include mixin.on-tablet {
      width: 24px;
      height: 24px;
    }
  }

  &__nav-right {
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }

  &__action {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: opacity variables.$effect-duration ease;

    &--lang {
      gap: 7px;
    }
  }

  &__action-lang {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__action-text {
    display: none;
    font-family: "Cinzel", sans-serif;
    color: variables.$main-color;

    @include mixin.on-desktop {
      font-size: 12px;
      display: block;
    }
  }

  &__action-image {
    width: 23px;
    height: 23px;

    &:hover path {
      fill: variables.$hover-color;
    }

    &--lang {
      width: 23px;
      height: 23px;
    }
  }
}
