@use "variables";

@mixin on-mobile {
  @media (min-width: variables.$mobile-min-width) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: variables.$tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: variables.$desktop-min-width) {
    @content;
  }
}

@mixin on-large-desktop {
  @media (min-width: variables.$large-desktop-min-width) {
    @content;
  }
}

@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin page-grid {
  --colums: 2;

  display: grid;
  gap: 24px;
  margin: 0 auto;

  @include on-tablet {
    --colums: 6;

    gap: 28px;
  }

  @include on-desktop {
    --colums: 12;
    gap: 36px;
  }

  @include on-large-desktop {
    gap: 40px;
  }
}

@mixin transition-mixin {
  transition-duration: variables.$effect-duration;
}

@mixin button-mixin {
  transition-duration: variables.$effect-duration;
}
