@use "mixin";
@use "variables";

.photo-gallery {
  padding: 100px 0 126px;

  &__grid {
    @include mixin.page-grid;

    @include mixin.on-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mixin.on-desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: variables.$box-shadow;
    transition: all variables.$effect-duration variables.$transition;

    &:hover {
      transform: (1.05);

      @include mixin.on-desktop {
        transform: variables.$transform-hover;
        box-shadow: variables.$box-shadow-hover;
      }
    }

    &--featured {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include mixin.on-tablet {
        grid-column: span 2;
        grid-row: span 2;
      }

      @include mixin.on-desktop {
        grid-column: span 2;
        grid-row: span 2;
      }

      @include mixin.on-large-desktop {
        grid-column: span 2;
        grid-row: span 2;
      }
    }
  }

  &__image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: transform variables.$effect-duration variables.$transition;

    .photo-gallery__item:hover & {
      transform: scale(1.05);
    }
  }

  &__description {
    font-family: "Cinzel", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 24px;
    color: variables.$background-color;
    text-align: center;

    @include mixin.on-tablet {
      font-size: 32px;
    }

    @include mixin.on-tablet {
      grid-column: span 2;
      line-height: 140%;
    }

    @include mixin.on-desktop {
      text-align: left;
    }
  }
}
