@use "mixin";
@use "variables";

.container {
  margin-inline: auto;

  @include mixin.on-mobile {
    padding-inline: 20px;
  }

  @include mixin.on-tablet {
    padding-inline: 72px;
  }

  @include mixin.on-desktop {
    padding-inline: 120px;
  }

  &__line {
    border-bottom: 5px solid variables.$hover-color;
    animation: slidein 3s alternate 1;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
}

