@use "mixin";
@use "variables";

.footer {
  padding-bottom: 20px;

  &__title {
    font-family: "Cinzel", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    padding-bottom: 40px;
  }

  &__content {
    padding-bottom: 50px;
    @include mixin.page-grid;
    @include mixin.on-tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__input {
    padding: 12px 16px;
    border: 1px solid variables.$bg-color;
    border-radius: 4px;
    background-color: variables.$color-text;
    font-family: "Cinzel", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: variables.$color-input;
    outline: none;
    transition: border-color variables.$effect-duration variables.$transition;

    &:focus {
      border-color: variables.$hover-color;
    }
  }

  &__message {
    padding: 12px 16px;
    border: 1px solid variables.$bg-color;
    border-radius: 4px;
    background-color: variables.$color-text;
    font-family: "Cinzel", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: variables.$color-input;
    outline: none;
    resize: none;
    min-height: 100px;
    transition: border-color variables.$effect-duration variables.$transition;
    margin-bottom: 32px;

    &:focus {
      border-color: variables.$background-color;
    }

    &::placeholder {
      color: #999;
    }
  }

  &__button {
    width: 280px;
    height: 56px;
    background-color: variables.$background-color;
    color: variables.$color-text;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-family: "Cinzel", sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color variables.$effect-duration
      variables.$transition;
    align-self: flex-start;

    &:hover {
      background-color: variables.$hover-color;
    }

    @include mixin.on-tablet {
      width: 288px;
    }
  }

  &__contact-section {
    padding-top: 50px;

    @include mixin.on-tablet {
      padding-top: 0;
    }
  }

  &__contact-title {
    font-family: "Cinzel", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    padding-bottom: 40px;
  }

  &__contact-item {
    margin-bottom: 24px;
  }

  &__contact-label {
    font-family: "Cinzel", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: variables.$main-color;
    margin: 0 0 8px 0;
  }

  &__contact-value {
    font-family: "Cinzel", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: variables.$main-color;
    text-decoration: none;
    line-height: 1.4;
    display: block;

    &:hover {
      color: variables.$background-color;
    }
  }

  &__social {
    font-family: "Cinzel", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: variables.$main-color;
    margin-bottom: 10px;
  }

  &__image {
    width: 32px;
    height: 32px;

    &:hover {
      fill: variables.$hover-color;
    }
  }

  &__copyright-text {
    font-family: "Cinzel", sans-serif;
    font-size: 12px;

    color: variables.$main-color;
    text-align: center;
  }
}
